<h3>ng-template</h3>
<div id='dialogTarget'>
    <button  ejs-button id="dialogBtn" Class="e-control e-btn" #confirmButton (click)="dialogBtnClick()">Open Dialog</button>
    
    <ejs-dialog id="defaultDialog" #defaultDialog [visible]='visible' [header]='dialogHeader' [allowDragging]='dialogdragging' [animationSettings]='animationSettings' [showCloseIcon]='dialogCloseIcon' (open)="dialogOpen()" (close)="dialogClose()" [target]='target'
    [width]='dialogWidth' [buttons]='dlgButtons'>
        <div>Initial Content from div Element</div>
        <div *ngIf="updateContent; then contentTemplate" class="box red">
            </div>
        <ng-template  #contentTemplate><h4 style="color: green;">Dialog Content Updated form ng-template</h4></ng-template>
    </ejs-dialog>
</div>
